In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter

In [2]:
data = pd.read_csv('movie_bd_v5.csv')
data.sample(2)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
366,tt1263670,7000000,39462438,Crazy Heart,Jeff Bridges|Maggie Gyllenhaal|Colin Farrell|R...,Scott Cooper,"The harder the life, the sweeter the song.",When reporter Jean Craddock interviews Bad Bla...,112,Drama|Music|Romance,Fox Searchlight Pictures|Butcher's Run Films|I...,12/16/2009,6.4,2009
1739,tt0825232,45000000,175372502,The Bucket List,Jack Nicholson|Morgan Freeman|Sean Hayes|Bever...,Rob Reiner,"When he closed his eyes, his heart was opened",Corporate billionaire Edward and working class...,97,Comedy|Drama|Adventure,Warner Bros.|Storyline Entertainment|Two Ton F...,12/25/2007,6.9,2007

In [3]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [4]:
answers = {} # создадим словарь для ответов

# тут другие ваши предобработки колонок например:

#the time given in the dataset is in string format.
#So we need to change this in datetime format
# ...
data['profit']=data.revenue-data.budget #рассчитываем прибыль фильма и добавляем в новый столбец

'''функция нужна, чтобы ставить в столбец, переданный в аргументе genre_column (это название жанра), значение 1 или 0 в качестве флага для этого жанра.
используется для создания стольких столбцов, сколько жанров перечислено в столбце genres'''
def genres_flag(film_genre_str,genre_column):
    if genre_column in film_genre_str:
        return 1
    else:
        return 0

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [5]:
# в словарь вставляем номер вопроса и ваш ответ на него
# Пример: 
# answers['1'] = '2. Spider-Man 3 (tt0413300)'
# запишите свой вариант ответа
answers['1'] = '1. Pirates of the Caribbean: On Stranger Tides (tt1298650) '
# если ответили верно, можете добавить комментарий со значком "+"

In [6]:
# тут пишем ваш код для решения данного вопроса:
print ('Самый большой бюджет у фильма:',data.query('budget == budget.max()').original_title.item()) # выбираем фильм, у которого 
                                                        # значение в столбце budget равно максимальному значению в столбце budget
print('Бюджет равняется:',data.query('budget == budget.max()').budget.item(), 'долларов')

Самый большой бюджет у фильма: Pirates of the Caribbean: On Stranger Tides
Бюджет равняется: 380000000 долларов

ВАРИАНТ 2

In [7]:
# можно добавлять разные варианты решения
print ('Самый большой бюджет у фильма:',data[data.budget==data.budget.max()].original_title.item()) # вариант без использования query
print('Бюджет равняется:',data[data.budget==data.budget.max()].budget.item(), 'долларов')

Самый большой бюджет у фильма: Pirates of the Caribbean: On Stranger Tides
Бюджет равняется: 380000000 долларов

# 2. Какой из фильмов самый длительный (в минутах)?

In [8]:
answers['2'] = '2. Gods and Generals (tt0279111)'

# выбираем фильм, длительность которого равна максимальной
print(data.query('runtime == runtime.max()').original_title.item(),'- самый длительный фильм')

Gods and Generals - самый длительный фильм

# 3. Какой из фильмов самый короткий (в минутах)?

In [9]:
answers['3'] = '3. Winnie the Pooh (tt1449283)'

# выбираем фильм, длительность которого равна минимальной
print(data.query('runtime == runtime.min()').original_title.item(),'- самый короткий фильм')

Winnie the Pooh - самый короткий фильм

# 4. Какова средняя длительность фильмов?

In [10]:
answers['4'] = '4. 110'

# считаем среднюю длительность в столбце runtime
print('Средняя длительность фильмов:',round(data.runtime.mean()),'минут')

Средняя длительность фильмов: 110 минут

# 5. Каково медианное значение длительности фильмов?

In [11]:
answers['5'] = '5. 107'

# считаем медиану в столбце runtime
print('Медианное значение длительности фильмов:',data.runtime.median(),'минут')

Медианное значение длительности фильмов: 107.0 минут

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [12]:
# лучше код получения столбца profit вынести в Предобработку что в начале
answers['6'] = '6. Avatar (tt0499549)'

# Расчет нового столбца "profit" добавлен в раздел "Предобработка". Строка: data['profit']=data.revenue-data.budget 

# здесь выбираем фильм, у которого значение в столбце profit равно максимальному
print('Самый прибыльный фильм:',data.query('profit == profit.max()').original_title.item())
print('Прибыль равна:',data.query('profit == profit.max()').profit.item())

Самый прибыльный фильм: Avatar
Прибыль равна: 2544505847

# 7. Какой фильм самый убыточный?

In [13]:
answers['7'] = '7. The Lone Ranger (tt1210819)'

# здесь выбираем фильм, у которого значение в столбце profit равно минимальному
print('Самый убыточный фильм:',data.query('profit == profit.min()').original_title.item())

Самый убыточный фильм: The Lone Ranger

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [14]:
answers['8'] = '8. 1478'

# выбираем фильмы, у которых прибыль больше нуля и считаем их количество
print('У %d фильмов объем сборов выше бюджета' % data.query('profit >0').profit.count())

У 1478 фильмов объем сборов выше бюджета

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [15]:
answers['9'] = '9. The Dark Knight (tt0468569)' 

# выбираем фильмы, у которых год выпуска равен 2008 и потом в получившейся таблице выбираем строку, у которой доход
# равен максимальному доходу
print('Самый кассовый фильм в 2008 году:',data.query('release_year == 2008').query('revenue == revenue.max()').original_title.item())

Самый кассовый фильм в 2008 году: The Dark Knight

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [16]:
answers['10'] = '10. The Lone Ranger (tt1210819) ' 

# выбираем фильмы, у которых год выпуска между 2012 и 2014 включительно и потом в получившейся таблице выбираем строку,
# у которой прибыль равен минимальной прибыли
print('Самый убыточный фильм за период с 2012 по 2014 г. (включительно):',
      data.query('2012 <= release_year <= 2014').query('profit == profit.min()').original_title.item())

Самый убыточный фильм за период с 2012 по 2014 г. (включительно): The Lone Ranger

# 11. Какого жанра фильмов больше всего?

In [17]:
answers['11'] = '11. Drama' 
# эту задачу тоже можно решать разными подходами, попробуй реализовать разные варианты
# если будешь добавлять функцию - выноси ее в предобработку что в начале

n=list(data.genres.str.split('|'))  # так как жанры с разделителем, преобразуем их в списки
genres_counts={} #создаем пустой словарь жанров, чтобы наполнить его жанрами из фильмов и для каждого жанра посчитать количество фильмов с ним
for i in range(len(n)):  #проходимся по всем фильмам
    for j in range(len(n[i])): #проходимся по всем жанрам в фильме
        if n[i][j] in genres_counts.keys(): #если жанр фильма есть в словаре, то ...
            genres_counts[n[i][j]] += 1 #добавляем +1 в счетчик количества фильмов с этим жанром
        else:
            genres_counts[n[i][j]] = 1 #создаем новую позицию в справочнике и присваиваем ей единичку в качестве количества элементов

#sorted(genres_counts.items(), key=lambda x: -x[1])[0] # сортируем список по убыванию количества фильмов с жанром
print('Больше всего фильмов жанра',sorted(genres_counts.items(), key=lambda x: -x[1])[0][0],
      ', их',sorted(genres_counts.items(), key=lambda x: -x[1])[0][1],'штук')

Больше всего фильмов жанра Drama , их 782 штук

ВАРИАНТ 2

In [18]:
# теперь, когда мы знаем перечень жанров, мы можем создать новые столбцы в таблице для каждого жанра, 
# эту функцию я перенс в предобработку
# def genres_flag(film_genre_str,genre_column):
#     if genre_column in film_genre_str:
#         return 1
#     else:
#         return 0


for curr_genre_column in genres_counts.keys(): # создаем новые столбцы для каждого жанра и заполняем их 1 или 0, 
                                                # если в фильме есть этот жанр или нет.
                                                # используем словарь с перечнем жанров, чтобы пройтись по нему, 
                                                # перебрав все жанры в базе данных 
    data[curr_genre_column]=data.genres.apply(genres_flag, genre_column=curr_genre_column)

display(data.sum()) # выводим сумму значений по всем столбцам, в столбцах с жанрами находим наибольшую 
                    # получившуюся сумму. она находится в столбце Drama: 782

imdb_id                 tt0369610tt1392190tt2908446tt2488496tt2820852t...
budget                                                       102593157187
revenue                                                      293485091528
original_title          Jurassic WorldMad Max: Fury RoadInsurgentStar ...
cast                    Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...
director                Colin TrevorrowGeorge MillerRobert SchwentkeJ....
tagline                 The park is open.What a Lovely Day.One Choice ...
overview                Twenty-two years after the events of Jurassic ...
runtime                                                            207145
genres                  Action|Adventure|Science Fiction|ThrillerActio...
production_companies    Universal Studios|Amblin Entertainment|Legenda...
release_date            6/9/20155/13/20153/18/201512/15/20154/1/201512...
vote_average                                                      11599.9
release_year                                                      3792849
profit                                                       190891934341
Action                                                                582
Adventure                                                             415
Science Fiction                                                       248
Thriller                                                              596
Fantasy                                                               222
Crime                                                                 315
Western                                                                19
Drama                                                                 782
Family                                                                260
Animation                                                             139
Comedy                                                                683
Mystery                                                               168
Romance                                                               308
War                                                                    58
History                                                                62
Music                                                                  64
Horror                                                                176
Documentary                                                             8
Foreign                                                                 2
dtype: object

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [19]:
answers['12'] = '12. Drama' 
n=list(data.query('profit>0').genres.str.split('|')) # основное отличие от решения вопроса 10 - это запрос query('profit>0')
genres_counts={} #создаем пустой словарь жанров, чтобы наполнить его жанрами из фильмов и для каждого жанра посчитать 
                    #количество фильмов с ним
for i in range(len(n)):  #проходимся по всем фильмам
    for j in range(len(n[i])): #проходимся по всем жанрам в фильме
        if n[i][j] in genres_counts.keys(): #если жанр фильма есть в словаре, то ...
            genres_counts[n[i][j]] += 1 # добавляем +1 в счетчик количества фильмов с этим жанром
        else:
            genres_counts[n[i][j]] = 1 # Если жанра фильма нет в словаре создаем новую позицию 
                                        # в словаре и присваиваем ей единичку в качестве количества элементов

sorted(genres_counts.items(), key=lambda x: -x[1]) # сортируем список по убыванию количества фильмов с жанром

# печатаем первую строку получившегося списка, т.к. в ней больше всего фильмов
print('Чаще всего становятся прибыльными фильмы жанра',sorted(genres_counts.items(), key=lambda x: -x[1])[0][0],
      ', их',sorted(genres_counts.items(), key=lambda x: -x[1])[0][1],'штук')

Чаще всего становятся прибыльными фильмы жанра Drama , их 560 штук

# 13. У какого режиссера самые большие суммарные кассовые сборы?

In [20]:
answers['13'] = '13. Peter Jackson' 

# группируем таблицу по столбцу с режиссерами, для каждого режиссера считаем сумму по столбцу revenue (кассовые сборы),
# сортируем получившийся список по убыванию значений, печатаем первую строку списка, т.к. в ней самая большая сумма кассы
print('Самые большие суммарные кассовые сборы у режиссера: ',
      data.groupby(['director'])['revenue'].sum().sort_values(ascending=False).index[0])
# data.groupby(['director'])['revenue'].sum().sort_values(ascending=False) # чтобы увидеть весь список режиссеров, 
                                                                                # раскомментируйте эту строку

Самые большие суммарные кассовые сборы у режиссера:  Peter Jackson

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [21]:
answers['14'] = '14. Robert Rodriguez' 

# 1. выбраем из таблицы строки, содержащие в столбце genres подстроку "Action".
# 2. из столбца directors каждую ячейку разбиваем строку по разделителю "|" на список строк с именами режиссеров
# 3. с помощью функции pd.core.common.flatten преобразуем получившийся список списков в плоский список
# 4. преобразуем плоский список в объект series, чтобы потом применить к нему value_counts
directors=pd.Series(list(pd.core.common.flatten(list(data[data.genres.str.contains("Action")].director.str.split('|')))))

# Следующие строки делают то же самое - раскладывают список списков в список, чтобы потом посчитать количество
# from itertools import chain
# directors=pd.Series(list(chain.from_iterable(list(data[data.genres.str.contains("Action")].director.str.split('|')))))


# 5. формируем рейтинг режиссеров по их количеству (по убыванию) в получившемся списке. 
# Выводим на печать первого режиссера из полученного списка, т.к. он чаще всех встречается в списке 
print('Больше всего фильмов в стиле Action снял', directors.value_counts(ascending=False).index[0])

# directors.value_counts(ascending=False) # чтобы увидеть весь список режиссеров, раскомментируйте эту строку

Больше всего фильмов в стиле Action снял Robert Rodriguez

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [22]:
answers['15'] = '15. Chris Hemsworth' 

act_dict={} # создаем словарь, в котором будет список актеров и для каждого из них будет посчитан суммарный доход фильмов, в которых они участвовали 
data2012=data[data.release_year == 2012] #ограничиваем таблицу 2012 годом
actors=list(set(list(pd.core.common.flatten(list(data2012.cast.str.split('|')))))) # формируем список из множества имен актеров 

for actor in actors: # для каждого актера из списка считаем суммарный доход фильмов с его участием
    act_dict[actor] = data2012[data2012.cast.str.contains(actor)]['revenue'].sum()
    

data2 = pd.DataFrame({'actor': act_dict.keys(),'actor_revenue':act_dict.values()}) # из словаря создаем таблицу
print('Ниже представлен рейтинг актеров по кассовым сборам фильмов с их участием')
print('Первый актер участвовал в фильмах с самыми высокими кассовыми сборами')
display(data2.sort_values(by='actor_revenue', ascending=False)) # сортируем таблицу по убыванию дохода фильмов,
                                                                #в которых участвовал актер

Ниже представлен рейтинг актеров по кассовым сборам фильмов с их участием
Первый актер участвовал в фильмах с самыми высокими кассовыми сборами

                 actor  actor_revenue
386    Chris Hemsworth     2027450773
239        Denis Leary     1629460639
252      Anne Hathaway     1522851057
394  Robert Downey Jr.     1519557910
132       Mark Ruffalo     1519557910
..                 ...            ...
442         Hope Davis        3428048
210         Sami Gayle        2106557
33        Danny Huston        2106557
256       Nicolas Cage        2106557
140         Josh Lucas        2106557

[466 rows x 2 columns]

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [23]:
answers['16'] = '16. Matt Damon' 

act_dict={} # создаем словарь, в котором будет список актеров и для каждого из них будет посчитано количество фильмов,
            # в которых они участвовали 
data_great_budget=data[data.budget >= data.budget.mean()] # создаем новую таблицу с фильмами, 
                                                            # у которых бюджет больше среднего бюджета фильмов

# формируем список из множества имен актеров в получившейся таблице
actors=list(set(list(pd.core.common.flatten(list(data_great_budget.cast.str.split('|'))))))

for actor in actors: # для каждого актера из списка считаем количество фильмов с его участием
    act_dict[actor] = data_great_budget[data_great_budget.cast.str.contains(actor)].imdb_id.count()
    
    
data2 = pd.DataFrame({'actor': act_dict.keys(),'film_count':act_dict.values()})  # из словаря создаем таблицу

print('Ниже представлен рейтинг актеров по количеству высокобюджетных фильмов с их участием')
print('Первый актер участвовал в большем количестве высокобюджетных фильмов')
display(data2.sort_values(by='film_count', ascending=False))  # сортируем таблицу по убыванию количества фильмов

Ниже представлен рейтинг актеров по количеству высокобюджетных фильмов с их участием
Первый актер участвовал в большем количестве высокобюджетных фильмов

                 actor  film_count
625         Matt Damon          18
1014      Adam Sandler          17
1134    Angelina Jolie          16
154         Tom Cruise          15
503       Eddie Murphy          15
...                ...         ...
887       ZoÃ« Kravitz           1
337   Tim Blake Nelson           1
336        Jeff LeBeau           1
890        Collin Chou           1
0        Dwight Yoakam           1

[1505 rows x 2 columns]

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [24]:
answers['17'] = '17. Action' 

# формируем плоский список жанров фильмов, в которых снимался "Nicolas Cage", далее из него создаем серию.
genres_ser=pd.Series(list(pd.core.common.flatten(list(data[data.cast.str.contains("Nicolas Cage")].genres.str.split('|')))))

# сортируем серию по убыванию количества фильмов. Печатаем первую строку серии.
print('Чаще всего Nicolas Cage снимался в фильмах жанра',genres_ser.value_counts(ascending=False).index[0])

# genres_ser.value_counts(ascending=False) # раскомментируйте эту строку, если хотите увидеть рейтинг жанров фильмов Николаса Кейджа

Чаще всего Nicolas Cage снимался в фильмах жанра Action

# 18. Самый убыточный фильм от Paramount Pictures

In [25]:
answers['18'] = '18. K-19: The Widowmaker (tt0267626) ' 

# просто отбираем фильмы от компании Paramount Pictures, а потом из них отбираем те, у кого самый минимальный profit (т.е. прибыль)
print('Самый убыточный фильм от Paramount Pictures:',
      data[data.production_companies.str.contains("Paramount Pictures")].query('profit == profit.min()').original_title.item())

Самый убыточный фильм от Paramount Pictures: K-19: The Widowmaker

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [26]:
answers['19'] = '19. 2015' 

# группируем таблицу по столбцу release_year, для каждого года считаем сумму по столбцу revenue.
# получившуюся серию сортируем по убыванию суммы. печатаем название индекса первой строки
print('Самый успешный год по суммарным кассовым сборам:', 
      data.groupby('release_year').revenue.sum().sort_values(ascending=False).index[0])

Самый успешный год по суммарным кассовым сборам: 2015

# 20. Какой самый прибыльный год для студии Warner Bros?

In [27]:
answers['20'] = '20. 2014' 

# отбираем из таблицы строки, где production_companies содержит подстроку "Warner Bros"
# группируем получившуюся таблицу по столбцу release_year, для каждого года считаем сумму по столбцу profit
# получившуюся серию сортируем по убыванию суммы. печатаем название индекса первой строки
print('Самый прибыльный год для студии Warner Bros:',
      data[data.production_companies.str.contains("Warner Bros")].groupby('release_year').
      profit.sum().sort_values(ascending=False).index[0])

Самый прибыльный год для студии Warner Bros: 2014

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [28]:
answers['21'] = '21. Сентябрь' 

""" Получение месяца из даты"""
def get_month(date): 
    return date.split('/')[0]

data['release_month']=data.release_date.apply(get_month) #создаем столбец с месяцем выпуска фильма

# группируем таблицу по месяцу выпуска фильма, сортируем по убыванию по количеству фильмов в месяце. 
# печатаем первую строку, так как в ней больше всего фильмов
print('Больше всего фильмов вышло в месяце с номером:',
      data.groupby('release_month').imdb_id.count().sort_values(ascending=False).index[0])

Больше всего фильмов вышло в месяце с номером: 9

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [37]:
answers['22'] = '22. 450' 

""" Получение времени года из даты"""
def get_season(date): 
    if int(date.split('/')[0]) in [12,1,2]:
        return 'Зима'
    elif int(date.split('/')[0]) in [3,4,5]:
        return 'Весна'
    elif int(date.split('/')[0]) in [6,7,8]:
        return 'Лето'
    else:
        return 'Осень'

data['release_season']=data.release_date.apply(get_season) #создаем столбец с временем года выпуска фильма

print('Летом вышло',data.query('release_season=="Лето"').imdb_id.count(),'фильмов') # вариант с выводом количества фильмов за лето

# data.groupby('release_season').imdb_id.count() # вариант с выводом количеств фильмов по всем временам года

Летом вышло 450 фильмов

# 23. Для какого режиссера зима – самое продуктивное время года?

In [30]:
answers['23'] = '23. Peter Jackson' 

# отбираем фильмы, выпущенные зимой
# берем из них режиссеров и формируем из них список, который превращаем в серию
directors=pd.Series(list(pd.core.common.flatten(list(data.query('release_season=="Зима"').director.str.split('|')))))

# считаем в серии количество вхождений каждого режиссера, сортируем серию по убыванию количества. 
# Печатаем первого режиссера в серии, т.к. у него больше всего фильмов
print('Зимой больше всего фильмов сделал режиссер',directors.value_counts(ascending=False).index[0])

Зимой больше всего фильмов сделал режиссер Peter Jackson

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [31]:
answers['24'] = '24. Four By Two Productions' 

""" Получение длины названия фильма"""
def get_title_len(title): 
    return len(title)

data['title_len']=data.original_title.apply(get_title_len) #создаем столбец с длиной названия фильма

companies=list(set(list(pd.core.common.flatten(list(data.production_companies.str.split('|')))))) # получаем список уникальных студий
comp_dict={} # создаем словарь, в котором для каждой студии мы посчитаем максимальную длину из всех названий ее фильмов


for company in companies: # для каждой студии считаем сумму длины названий ее фильмов
            # здесь пришлось сделать регулярное выражение, т.к. есть студия Twentieth Century Fox 
            # и есть Twentieth Century Fox Film Corporation 
            # и их нужно посчитать отдельно, т.к. по обычному вхождению при поиске строки "Twentieth Century Fox" 
            # будут выбраны обе студии
    comp_dict[company] = data[data.production_companies.str.contains(company+'$|^\|'+company+'|'+company+'\|', regex=True)]. \
                                title_len.max()
    
data2 = pd.DataFrame({'company': comp_dict.keys(),'title_len':comp_dict.values()}) # создаем таблицу из словаря

print('Ниже представлен рейтинг студий по убыванию максимальной длины названий ее фильмов')
print('Почему то в ответе только одна студия, хотя в рейтинге их 2 с одинаковой длиной названия фильма, т.к. они создали фильм "Борат".')
display(data2.sort_values(by='title_len', ascending=False)) # сортируем таблицу по длине названия по убыванию

C:\Users\Nick\anaconda3\lib\site-packages\pandas\core\strings\accessor.py:101: UserWarning: This pattern has match groups. To actually get the groups, use str.extract.
  return func(self, *args, **kwargs)

Ниже представлен рейтинг студий по убыванию максимальной длины названий ее фильмов
Почему то в ответе только одна студия, хотя в рейтинге их 2 с одинаковой длиной названия фильма, т.к. они создали фильм "Борат".

                                     company  title_len
1737  Twentieth Century Fox Film Corporation       83.0
84                   Four By Two Productions       83.0
1264                            Walden Media       62.0
3                                     Disney       62.0
406                              Walt Disney       62.0
...                                      ...        ...
1610            Disney Double Dare You (DDY)        NaN
1619           TelevisiÃ³ de Catalunya (TV3)        NaN
1624  Universal Pictures International (UPI)        NaN
1653               Metro-Goldwyn-Mayer (MGM)        NaN
1707                     Danmarks Radio (DR)        NaN

[1771 rows x 2 columns]

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [32]:
answers['25'] = '25. Midnight Picture Show' 

""" Получение количества слов в описании фильма"""
def get_overview_len(overview): 
    return len(overview.split())

data['overview_words_count']=data.overview.apply(get_overview_len) #создаем столбец с количеством слов в описании фильма
companies=list(set(list(pd.core.common.flatten(list(data.production_companies.str.split('|')))))) # получаем список уникальных студий
comp_dict={} 

for company in companies: # для каждой студии считаем среднее количество слов в описаниях ее фильмов
    comp_dict[company] = data[data.production_companies.str.contains(company+'$|^\|'+company+'|'+company+'\|', regex=True)].\
                            overview_words_count.mean()
    
data2 = pd.DataFrame({'company': comp_dict.keys(),'overview_words_count':comp_dict.values()})
data2.sort_values(by='overview_words_count', ascending=False)

C:\Users\Nick\anaconda3\lib\site-packages\pandas\core\strings\accessor.py:101: UserWarning: This pattern has match groups. To actually get the groups, use str.extract.
  return func(self, *args, **kwargs)

                                     company  overview_words_count
1756                   Midnight Picture Show                 175.0
998                     Room 9 Entertainment                 161.0
484                       98 MPH Productions                 159.0
410           Heineken Branded Entertainment                 159.0
1145        Brookwell-McNamara Entertainment                 156.0
...                                      ...                   ...
1610            Disney Double Dare You (DDY)                   NaN
1619           TelevisiÃ³ de Catalunya (TV3)                   NaN
1624  Universal Pictures International (UPI)                   NaN
1653               Metro-Goldwyn-Mayer (MGM)                   NaN
1707                     Danmarks Radio (DR)                   NaN

[1771 rows x 2 columns]

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 

по vote_average

In [33]:
answers['26'] = '26. Inside Out, The Dark Knight, 12 Years a Slave'

temp_votes=data.vote_average.value_counts(normalize=True).sort_index(ascending=False) #определяем диапазоны значений рейтинга 
                                                                                        #и процент фильмов в каждом из диапазонов
# далее определяем, на каком диапазоне будет превышен 1% фильмов
sum1=0
result_index=-1
for i in temp_votes.array:
    sum1 += i
#     print(i, sum1,result_index)
    if sum1<=0.01:
        result_index += 1
# на индексе 2 1% фильмов еще не превышен, на индексе 3 будет превышен

data[data.vote_average >= temp_votes.index[result_index]].sort_values(by='vote_average',ascending=False)
# отбираем фильмы, у которых рейтинг выше значения для второго элемента рейтинга. отсортировываем их по убыванию рейтинга.

# не понимаю, зачем было дано это задание. ведь в результате получается не 3 фильма, как в вариантах ответа. 
# проще было просто отсортировать весь список фильмов по убыванию
# рейтинга и искать в нем фильмы из ответа.
# рекомендую организаторам переформулировать вопрос, чтобы он давал однозначный ответ 
# и побуждал использовать какую-то специфическую функциональность pandas

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,...,War,History,Music,Horror,Documentary,Foreign,release_month,release_season,title_len,overview_words_count
599,tt0468569,185000000,1001921825,The Dark Knight,Christian Bale|Michael Caine|Heath Ledger|Aaro...,Christopher Nolan,Why So Serious?,Batman raises the stakes in his war on crime. ...,152,Drama|Action|Crime|Thriller,...,0,0,0,0,0,0,7,Лето,15,67
9,tt2096673,175000000,853708609,Inside Out,Amy Poehler|Phyllis Smith|Richard Kind|Bill Ha...,Pete Docter,Meet the little voices inside your head.,"Growing up can be a bumpy road, and it's no ex...",94,Comedy|Animation|Family,...,0,0,0,0,0,0,6,Лето,10,112
34,tt3170832,6000000,35401758,Room,Brie Larson|Jacob Tremblay|Joan Allen|Sean Bri...,Lenny Abrahamson,Love knows no boundaries,Jack is a young boy of 5 years old who has liv...,117,Drama|Thriller,...,0,0,0,0,0,0,10,Осень,4,49
118,tt0816692,165000000,621752480,Interstellar,Matthew McConaughey|Jessica Chastain|Anne Hath...,Christopher Nolan,Mankind was born on Earth. It was never meant ...,Interstellar chronicles the adventures of a gr...,169,Adventure|Drama|Science Fiction,...,0,0,0,0,0,0,11,Осень,12,35
125,tt2084970,14000000,233555708,The Imitation Game,Benedict Cumberbatch|Keira Knightley|Matthew G...,Morten Tyldum,The true enigma was the man who cracked the code.,Based on the real life story of legendary cryp...,113,History|Drama|Thriller|War,...,1,1,0,0,0,0,11,Осень,18,46
119,tt2015381,170000000,773312399,Guardians of the Galaxy,Chris Pratt|Zoe Saldana|Dave Bautista|Vin Dies...,James Gunn,All heroes start somewhere.,"Light years from Earth, 26 years after being a...",121,Action|Science Fiction|Adventure,...,0,0,0,0,0,0,7,Лето,23,28
128,tt2267998,61000000,369330363,Gone Girl,Ben Affleck|Rosamund Pike|Carrie Coon|Neil Pat...,David Fincher,You don't know what you've got 'til it's...,With his wife's disappearance having become th...,145,Mystery|Thriller|Drama,...,0,0,0,0,0,0,10,Осень,9,30
138,tt2278388,30000000,174600318,The Grand Budapest Hotel,Ralph Fiennes|Tony Revolori|F. Murray Abraham|...,Wes Anderson,A perfect holiday without leaving home.,The Grand Budapest Hotel tells of a legendary ...,99,Comedy|Drama,...,0,0,0,0,0,0,2,Зима,24,66
370,tt1375666,160000000,825500000,Inception,Leonardo DiCaprio|Joseph Gordon-Levitt|Ellen P...,Christopher Nolan,Your mind is the scene of the crime.,"Cobb, a skilled thief who commits corporate es...",148,Action|Thriller|Science Fiction|Mystery|Adventure,...,0,0,0,0,0,0,7,Лето,9,44
872,tt0253474,35000000,120072577,The Pianist,Adrien Brody|Thomas Kretschmann|Frank Finlay|M...,Roman Polanski,Music was his passion. Survival was his master...,The Pianist is a film adapted from the biograp...,150,Drama|War,...,1,0,0,0,0,0,9,Осень,11,39
1081,tt0167260,94000000,1118888979,The Lord of the Rings: The Return of the King,Elijah Wood|Ian McKellen|Viggo Mortensen|Liv T...,Peter Jackson,The eye of the enemy is moving.,Aragorn is revealed as the heir to the ancient...,201,Adventure|Fantasy|Action,...,0,0,0,0,0,0,12,Зима,45,45
1183,tt0993846,100000000,392000694,The Wolf of Wall Street,Leonardo DiCaprio|Jonah Hill|Margot Robbie|Kyl...,Martin Scorsese,EARN. SPEND. PARTY.,A New York stockbroker refuses to cooperate in...,180,Crime|Drama|Comedy,...,0,0,0,0,0,0,12,Зима,23,29
1191,tt2024544,20000000,187000000,12 Years a Slave,Chiwetel Ejiofor|Michael Fassbender|Lupita Nyo...,Steve McQueen,The extraordinary true story of Solomon Northup,"In the pre-Civil War United States, Solomon No...",134,Drama|History,...,0,1,0,0,0,0,10,Осень,16,61
1800,tt0209144,9000000,39723096,Memento,Guy Pearce|Carrie-Anne Moss|Joe Pantoliano|Mar...,Christopher Nolan,Some memories are best forgotten.,Suffering short-term memory loss after a head ...,113,Mystery|Thriller,...,0,0,0,0,0,0,10,Осень,7,78

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

ВАРИАНТ 2

In [34]:
answers['27'] = '27. Daniel Radcliffe & Rupert Grint' 

act_dict_actors={} # словарь, в котом для каждого актера из базы данных мы ставим одного актера, с которым он снимался чаще всего
act_dict_counts={} # словарь, в котом для каждого актера из базы данных мы ставим количество фильмов, 
                    # в которых он чаще всего снимался с другим актером

actors=list(set(list(pd.core.common.flatten(list(data_great_budget.cast.str.split('|')))))) # формируем множество актеров 


for actor in actors: # для каждого актера из списка ...
    data2=data[data.cast.str.contains(actor)]  # 1. Отбриаем фильмы, где он участвовал
    actors2=list(pd.core.common.flatten(list(data2.cast.str.split('|')))) # 2. Из них получаем всех других актеров
    act_count={} # словарь, в котором мы будем для каждого актера из пункта 2 считать количество его фильмов 
    
    for act2 in actors2: # 3. для каждого актера из пункта 2 считаем количество фильмов с его участием из множества фильмов,
                        # в которых участвовал первый актер
        act_count[act2]=data2[data2.cast.str.contains(act2)].imdb_id.count()

    act_count.pop(actor) # 4. удаляем из словаря запись с этим актером, т.к. нам не нужно количество фильмов, где он снимался сам с собой
    temp=pd.Series(act_count).sort_values(ascending=False) # 5. сортируем получившийся список актеров по убыванию количества фильмов
    act_dict_actors[actor]=temp.index[0] # 6. Добавляем в словарь с первым актером актера, с котором он снимался чаще всего.
    act_dict_counts[actor]=temp[0] # 7. Добавляем в словарь с первым актером количество фильмов, в которых он снимался со вторым актером


df2=pd.DataFrame({'actor2': act_dict_actors,'film_count': act_dict_counts}) # 8. Создаем датафрейм с двумя столбцами
df2.reset_index(inplace=True) # 9. делаем индекс датафрейма новым столбцом. хотя можно и без этого, но так мне больше нравится
df2.columns=['actor1','actor2','film_count']

print('Ниже содержится перечень пар актеров, которые снимались вместе чаще всего')
df2.query('film_count==film_count.max()') #10. Выбираем записи, в которых количество фильмов максимальное.


# самый быстрый способ приведен ниже, но он слишком простой :-) 
# создаем список пар актеров из ответов на задание 27
# actor_pairs={('Johnny Depp','Helena Bonham Carter'):0,
# ('Ben Stiller','Owen Wilson'):0,
# ('Vin Diesel','Paul Walker'):0,
# ('Adam Sandler','Kevin James'):0,
# ('Daniel Radcliffe','Rupert Grint'):0}

# actor_pairs_arr=list(actor_pairs.keys())

# for i in actor_pairs_arr:
#     actor_pairs[i]=data[data.cast.str.contains(i[0]) & data.cast.str.contains(i[1])].imdb_id.count()

# data2 = pd.Series(actor_pairs)
# print('Чаще всего вместе снимаются актеры',data2.sort_values(ascending=False).index[0])

Ниже содержится перечень пар актеров, которые снимались вместе чаще всего

                actor1            actor2  film_count
45    Daniel Radcliffe      Rupert Grint           8
1161       Emma Watson  Daniel Radcliffe           8
1183      Rupert Grint  Daniel Radcliffe           8

# Submission

In [38]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': '1. Pirates of the Caribbean: On Stranger Tides (tt1298650) ',
 '2': '2. Gods and Generals (tt0279111)',
 '3': '3. Winnie the Pooh (tt1449283)',
 '4': '4. 110',
 '5': '5. 107',
 '6': '6. Avatar (tt0499549)',
 '7': '7. The Lone Ranger (tt1210819)',
 '8': '8. 1478',
 '9': '9. The Dark Knight (tt0468569)',
 '10': '10. The Lone Ranger (tt1210819) ',
 '11': '11. Drama',
 '12': '12. Drama',
 '13': '13. Peter Jackson',
 '14': '14. Robert Rodriguez',
 '15': '15. Chris Hemsworth',
 '16': '16. Matt Damon',
 '17': '17. Action',
 '18': '18. K-19: The Widowmaker (tt0267626) ',
 '19': '19. 2015',
 '20': '20. 2014',
 '21': '21. Сентябрь',
 '22': '22. 450',
 '23': '23. Peter Jackson',
 '24': '24. Four By Two Productions',
 '25': '25. Midnight Picture Show',
 '26': '26. Inside Out, The Dark Knight, 12 Years a Slave',
 '27': '27. Daniel Radcliffe & Rupert Grint'}

In [39]:
# и убедиться что ни чего не пропустил)
len(answers)

27